<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="css/output.css" rel="stylesheet">

    <title>Level Details</title>
    <style>
        .bg-image {
            background-image: url('/images/fondo3.jpg');
            background-size: cover;
            background-position: center;
        }

        body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            color: #fff;
        }

        .container {
            max-width: 800px;
            margin: 0 auto;
            padding: 20px;
            position: relative;
            background-color: rgba(255, 255, 255, 0.8);
            border-radius: 8px;
            box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
        }

        h1 {
            text-align: center;
            margin-top: 30px;
            margin-bottom: 20px;
            color: #081a51; /* Texto en azul oscuro */
            text-shadow: 2px 2px 2px rgba(0, 0, 0, 0.2); /* Sombra suave */
        }

        .button-container {
            display: flex;
            justify-content: center;
            margin-top: 20px;
        }

        .level-button {
            display: inline-block;
            padding: 12px 24px;
            margin: 0 10px;
            background-color: #2196f3; /* Azul */
            color: #fff;
            text-decoration: none;
            border-radius: 5px;
            transition: background-color 0.3s ease, transform 0.3s ease;
        }

        .level-button:hover {
            background-color: #0c7bbf; /* Azul más oscuro al pasar el ratón */
            transform: scale(1.1); /* Efecto de escala al pasar el ratón */
        }

        .back-link {
            display: block;
            text-align: center;
            margin-top: 30px;
            color: #081a51; /* Texto en azul oscuro */
            text-decoration: none;
        }

        .back-link:hover {
            text-decoration: underline; /* Subrayado al pasar el ratón */
        }
        nav {
            background-color: #2d3748; /* Color de fondo de la barra de navegación */
            padding: 1rem;
          }
          .nav-links {
            display: flex;
            align-items: baseline;
            gap: 1rem;
          }
          .nav-link {
            color: #cbd5e0; /* Color de texto predeterminado */
            padding: 0.5rem 1rem;
            border-radius: 0.375rem; /* Borde redondeado */
            text-decoration: none; /* Quitar subrayado */
            font-size: 0.875rem; /* Tamaño de fuente */
            font-weight: 500; /* Peso de fuente */
            transition: background-color 0.3s, color 0.3s; /* Transiciones suaves */
          }
          .nav-link:hover {
            background-color: #4a5568; /* Color de fondo al pasar el ratón */
            color: #ffffff; /* Color de texto al pasar el ratón */
          }
          .nav-link.active {
            background-color: #1a202c; /* Color de fondo del enlace activo */
            color: #ffffff; /* Color de texto del enlace activo */
          }
    </style>
</head>

<body class="bg-image">
<nav>
<div class="nav-links">
  <a href="/dashboard" class="nav-link">Dashboard</a>
  <a href="/lessons_details" class="nav-link active" aria-current="page">Lecciones</a>
  <a href="/profile" class="nav-link" role="menuitem" tabindex="-1" id="user-menu-item-0">Tu Perfil</a>
  <a href="/logout" class="nav-link" role="menuitem" tabindex="-1" id="user-menu-item-2">Salir</a>
</div>
</nav>

    <div class="container">
        <h1><%= @level.name %></h1>

        <div class="button-container">
            <a href="/lessons/<%= @lesson.id %>/levels/<%= @level.id %>/materials" class="level-button">Ver Materiales</a>

            <a href="/lessons/<%= @lesson.id %>/levels/<%= @level.id %>/exam" class="level-button">Tomar Examen</a>
        </div>

        <a href="/lessons_levels" class="back-link">Volver a Niveles</a>
    </div>

</body>

</html>
